*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
h2{
    font-size: 48px;
    font-weight: 700;
    color: rgb(0, 25, 49);
}
p{
    font-size: 16px;
    color: #627382;
}
.btn{
    text-decoration: none;
    padding: 12px 16px;
    background-color:#469165;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
}
.btn:hover{
    background-color:#367c4a;
}


header{
   padding-top: 20px;
    padding-bottom: 20px;
}
.navbar {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.navbar li {
    list-style: none;
    margin: 0 15px;
    display: inline-block;
}
.navbar li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* banner section */
.banner-section{
    padding: 115px 120px 180px;
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center; 
}
.banner{
    /* background-color: aqua; */
    /* height: 380px; */
    margin: 0 auto;
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: ;
}

.early-access-btn{
   text-decoration: none;
    padding: 8px 12px;
    background-color: white;
    color: #469165;
    border-radius: 15px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.status-dot{
    width: 8px;
    height: 8px;
    background: #4c8c4a;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #a6d8a7;
    box-shadow: 0 0 0 6px #d3f6d2;
    
}


.banner-header{
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #FFFFFF;
    padding: 16px 0px;
} 
.banner-header .highlight{
    color: #469165;
}
.banner-paragraph p{
    color: #FFFFFF;
    font-size: 18px;
    /* background-color: #a6d8a7; */
    max-width: 770px;
    padding: 10px 10px;
    text-align: center;
}
.banner-button{
    margin-top: 32px;
    display: flex;
    gap: 16px;
}
.banner-button .btn-secondary{
     background-color: transparent;
     border: 2px solid #FFFFFF;
}

.features-heading{
    padding: 44px 0px;
    text-align: center;
    /* background-color: #d3f6d2; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.features-cards{
    display: flex;
    justify-content: center;
    /* background-color: #a6d8a7; */
    margin: 0 auto;
    max-width: 1360px;
    /* gap: 10px; */
}

.cards{
    max-width: 322px;
    margin:0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 34px;
    /* background-color: chocolate; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
    border-radius: 8px;
    gap: 10px;
}
.cards img{
    background-color: #F95556;
    padding: 25px;
    border-radius: 50%;
}
.cards h3{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.cards p{
    text-align: center;
}